table {
    border-collapse: collapse;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    padding: 0.5rem;
}

.pdfform {
    width: 21.8cm;
}

.pdftitle {
    width: "100px";
}

.title {
    margin: auto;
}

.inspectionType {
    margin-bottom: 20px;
}

.insp {
    margin: auto;
}

.vehicleinfo {
    width: 705px;
    margin-left: 45px;
}

th {
    text-align: start;
    font-size: 12px !important;
    padding: 3px;
    letter-spacing: 1px;
}

.trow {
    height: 50px;
}


/* split into two rows */

td {
    text-align: center;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    padding: 2px;
    font-size: 12px;
}

#span1 {
    height: 100%;
}

.t {
    border-top: 1px solid black;
}

.converkit {
    width: 705px;
    margin-left: 45px;
}

.cylinder {
    width: 705px;
    margin-left: 45px;
}

.tbs {
    width: 351px;
    margin-left: 45px;
}

.inspectionstandards {
    width: 318px;
    margin-left: 0px;
    /* background: #646060; */
}