.navbar {
    background-color: #060b26;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    /* position: relative;
    z-index: 1; */
}

.menu-bars {
    margin-left: auto;
    margin-right: 2rem;
    font-size: 2rem;
    background: none;
    display: none;
}

.nav-menu {
    background-color: #060b26;
    /* background-color: #d1102a; */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -100%;
    transition: 850ms;
    z-index: 2;
}

.nav-menu.active {
    top: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #1a83ff;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
}

.navcontainer {
    background: none;
}

.navlinks {
    text-decoration: none;
    margin-right: 40px;
    color: #fff;
}

.brand-container {
    display: none;
}

.brandlink {}


/* default styles here for older browsers. 
       I tend to go for a 600px - 960px width max but using percentages
    */

@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
}

@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
}

@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
}

@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .menu-bars {
        display: block;
    }
    .nav-menu {
        z-index: 2;
    }
}

@media only screen and (device-width: 768px) {
    /* default iPad screens */
}


/* different techniques for iPad screening */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* For landscape layouts only */
}