* {
    margin: 0;
    padding: 0;
    color: #ffffff;
    background: #1e2122;
}

h4 {
    background: none;
    margin: 0 auto;
}

a {
    color: rgb(65, 228, 228);
    text-decoration: none;
    background: none;
}


/*site*/

.site {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: none;
}


/* menu-base */

.head-wrapper {
    width: auto;
    height: 64px;
    display: grid;
    /* background: pink; */
    min-width: fit-content;
    border: solid white 0.1px;
    padding: 8px;
    display: grid;
    grid-template-columns: 20% 60%;
    margin-bottom: 50px;
}


/* logo */

.logo-wrapper {
    padding-left: 6px;
}

.logo {
    background: rgb(15, 1, 65);
    border-radius: 28px;
    height: 60px;
    width: 60px;
    color: rgb(229, 255, 0);
}

span {
    background: none;
    position: relative;
    top: 17px;
    left: 6px;
}

.brand {
    padding-top: 20px;
    /* background: brown; */
    font-size: 28px;
    padding-top: 20px;
    text-align: center;
}


/*main*/

.main {
    width: 100%;
    /* background: #117004; */
    display: flex;
    justify-content: center;
}

body {
    box-sizing: border-box;
}


/*form*/

.form-wrapper-reg {
    background: rgb(39, 39, 39);
    width: fit-content;
    border-radius: 12px;
    height: fit-content;
    border: solid rgb(94, 94, 94) 1px;
    margin: 0 auto;
}

.form-wrapper-forgot {
    background: rgb(39, 39, 39);
    width: fit-content;
    border-radius: 12px;
    height: fit-content;
    border: solid rgb(94, 94, 94) 1px;
    margin-top: 80px;
}

.form-wrapper-login {
    background: rgb(39, 39, 39);
    width: fit-content;
    border-radius: 12px;
    height: fit-content;
    border: solid rgb(94, 94, 94) 1px;
    margin-top: 90px;
}

.form {
    background: none;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding: 30px;
}

input {
    background: none;
    height: 30px;
    width: 180px;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}


/*Button*/

.btn {
    display: inline-block;
    background: #117004;
    color: white;
    border-color: transparent;
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: var(--spacing);
    cursor: pointer;
    transition: var(--transition);
    border: 1px solid rgba(88, 65, 65, 0.8);
    box-sizing: border-box;
    height: 30px;
    min-width: fit-content;
    overflow: hidden;
    width: 100px;
    margin: 0 auto;
    border-radius: 8px;
}


/*View btn*/

.viewbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 18px;
    gap: 8px;
    /* background: tomato; */
}


/*Icons css*/